.articles {
  display: grid;
  grid-template: 200px / 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 30px;
  margin: 30px;
}
.articles .articlePreview {
  margin: 10px;
}
.articles .articlePreviewBig {
  grid-row: span 2;
  height: 100%;
}
.articles .articlePreview_title { font-size: 36px; }
.articles .articlePreview_description { font-size: 14px; }
.articles .articlePreviewBig .articlePreview_title { font-size: 44px; }
.articles .articlePreviewBig .articlePreview_description { font-size: 20px; }

@Media only screen and (max-width: 1150px) {
  .articles .articlePreview_title { font-size: 28px; }
  .articles .articlePreviewBig .articlePreview_title { font-size: 38px; }
  .articles .articlePreviewBig .articlePreview_description { font-size: 16px; }
}
@Media only screen and (max-width: 900px) {
  .articles {
    display: flex;
    flex-direction: column;
  }
  .articles .articlePreviewBig {
    height: 200px;
  }
}