.asideSocialMediaLink {
  text-decoration: none;
}
.asideSocialMedia {
  display: flex;
  margin: 10px;
  background-color: var(--ui2);
  border: 2px solid var(--ui4);
  height: 60px;
}
.asideSocialMediaImgBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.asideSocialMediaImg {
  height: 80%;
}
.asideSocialMediaLabel {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  font-size: 30px;
}