.mainPage {
  flex: 1;
  margin: 0 50px;
  padding: 40px;
  background-color: var(--ui1);
  font-size: 24px;
  line-height: 36px;
  border-radius: 20px;
}
.mainPage .subtitle {
  text-align: center;
  margin: 70px 0;
  text-indent: 0;
}
.mainPage p {
  text-indent: 0;
  text-align: center;
}