.mainTitle {
  display: flex;
  align-items: center;
  height: 200px;
  font-size: 40px;
}
.mainTitleLetters {
  display: flex;
  justify-content: center;
  width: 100%;
  user-select: none;
}
.mainTitleLetters_Letter {
  margin: 2px;
}
.mainTitleLetters_Space {
  margin: 5px 15px;
}
.mainTitleBig {
  font-size: 70px;
}
@keyframes letterAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

@Media only screen and (max-width: 900px) {
  .mainTitleLetters_Letter {
    font-size: 34px;
    margin: 1px;
  }
  .mainTitleLetters_Space {
    margin: 5px 9px;
  }
}
@Media only screen and (max-width: 700px) {
  .mainTitleLetters_Letter {
    font-size: 22px;
    margin: 0;
  }
  .mainTitleLetters_Space {
    margin: 5px 5px;
  }
  .mainTitleBig {
    font-size: 40px;
  }
}