.footer {
  display: flex;
  align-items: center;
  min-height: 100px;
  background-color: var(--ui1);
  margin-top: 40px;
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.footerLinks_Link {
  display: flex;
  align-items: center;
  width: 80%;
}
.footerLinks_Link > img {
  margin: 0 10px;
  height: 100%;
}
.footerLinks_Link > a {
  color: var(--text-color);
}
.footerSocialMedia {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.footerSocialMedia_Link {
  height: 30px;
}
.footerSocialMedia_Link > img {
  height: 100%;
}

@Media only screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    min-height: 200px;
  }
  .footerLinks {
    width: 100%;
  }
  .footerSocialMedia {
    width: 100%;
    align-items: center;
  }
}