.aside {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background-color: var(--ui1);
  height: fit-content;
}
.aside .subtitle {
  display: block;
  text-align: center;
  text-indent: 0;
}

@Media only screen and (max-width: 1150px) {
  .aside {
    display: flex;
    align-items: center;
  }
}
@Media only screen and (max-width: 900px) {
  .aside {
    flex-direction: column;
  }
}
@Media only screen and (max-width: 500px) {
  .aside {
    padding: 0
  }
}