.articlePreview * {
  color: var(--text-color);
  text-decoration: none;
}
.articlePreview {
  margin: 10px 100px;
  height: 200px;
}
.articlePreviewContainer {
  display: flex;
  background-color: var(--ui3);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.articlePreviewContainer:hover {
  cursor: pointer;
  background-color: var(--ui1);
}
.articlePreviewImg {
  flex: 2;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}
.articlePreviewImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--text-color);
  border-radius: 20px;
}
.articlePreviewContent {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px 20px 0;
}
.articlePreview_title {
  display: block;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}
.articlePreview_description {
  font-size: 18px;
  opacity: 0.5;
  font-family: 'Rubik';
  text-align: center;
  text-indent: 0;
}

@Media only screen and (max-width: 900px) {
  .articlePreview {
    margin: 10px 50px;
  }
  .articlePreview_title, articlePreviewBig .articlePreview_title {
    font-size: 30px !important;
  }
  .articlePreview_description, articlePreviewBig .articlePreview_description {
    font-size: 16px !important;
  }
}