body {
  background-color: var(--ui2);
  background-color: var(--ui2);
  background-image:  linear-gradient(var(--ui4) 3.2px, transparent 3.2px), linear-gradient(to right, var(--ui4) 3.2px, var(--ui2) 3.2px);
  background-size: 64px 64px;
}
#root {
  max-width: 1500px;
  margin: 0 auto;
  color: var(--text-color);
}
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: auto;
}