.nav, .navList, .navListElement {
  width: 100%;
  height: 100%;
}
.nav {
  min-height: 80px;
  background-color: var(--ui1);
}
.navList {
  display: flex;
}
.navListElement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navListElement * {
  color: var(--text-color);
  text-decoration: none;
}