.main {
  display: flex;
  flex-direction: column;
}
.mainContent {
  display: flex;
  margin: 20px 0;
}
.otherArticlesTitle {
  text-align: center;
  font-size: 60px;
  margin: 20px 10px 40px;
}

@Media only screen and (max-width: 1150px) {
  .mainContent {
    flex-direction: column;
  }
}